body {
    padding: 0;
	margin: 0 !important;
	height: 100%;
	width: 100%;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/*********\
 * RESET *
\*********/

#queryBox,
#mapBox,
#resultsBox,
form,
input,
button, {
	margin: 0 !important;
	padding: 0 !important;
	border-width: 0 !important;
}


/**********\
 * LAYOUT *
\**********/

#queryBox {
	position: absolute;
	height: 50px;
	top: 20px;
	left: 50px;
	right: 50px;
	z-index: 100000;
}

#mapBox {

	float: left;
	height: 100%;
	width: 100%;
}

#resultsBox {
	position: absolute;
	z-index: 100000;
	background-color: white;
	border: 1px solid grey;
	top: 100px;
	bottom: 100px;
	width: 250px;
	right: 0;

}

/********\
 * FORM *
\********/

#queryBox input,
#queryBox button {
	position: relative;
	height: 50px;
	font-weight: bold;
	color: darkgray;
	font-size:30px;
}


#queryBox input {
	position:fixed;
	left: 50px;
	right: 150px;
	padding-left: 15px;
	border: 1px solid grey;
}

#queryBox button {
	border: 1px solid grey;
	width: 100px;
	right:0;
	background-color: white;
	float: right;
	text-align: center;
}
#div_spinner{
    position: absolute;
    left: 55px;
    top:25px;
    z-index: 100000;
}