body {
    padding: 0;
	margin: 0 !important;
	height: 100%;
	width: 100%;
	color: darkgray;
}


/*********\
 * RESET *
\*********/

#queryBox,
#mapBox,
#resultsBox,
form,
input,
button, {
	margin: 0 !important;
	padding: 0 !important;
	border-width: 0 !important;
	color: darkgray;
	font-family: sans-serif;
}


/**********\
 * LAYOUT *
\**********/

#queryBox {
	position: absolute;
	height: 50px;
	top: 20px;
	left: 50px;
	right: 50px;
	z-index: 100000;
}

#mapBox {

	float: left;
	height: 100%;
	width: 100%;
}

#resultsBox {
	position: absolute;
	z-index: 100000;
	background-color: white;
	border: 1px solid grey;
	top: 100px;
	bottom: 100px;
	width: 250px;
	right: 0;
	list-style: none;

}

/********\
 * FORM *
\********/

#queryBox input,
#queryBox button {
	position: relative;
	height: 50px;
	font-weight: bold;
	font-size:30px;
	color: darkgray;
}


#queryBox input {
	position:fixed;
	left: 50px;
	right: 150px;
	padding-left: 15px;
	border: 1px solid grey;
}

#queryBox button {
	border: 1px solid grey;
	width: 100px;
	right:0;
	background-color: white;
	float: right;
	text-align: center;
}