{% extends 'layout/layout.twig' %}

{% block content %}

	<form id="query">
		<input type="text" name="query" placeholder="Search" />
		<input type="submit">
	</form>

    <div id="mapdiv"></div>

	<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
	<script type="text/javascript">
		createMap("mapdiv");
	</script>

{% endblock content %}