{% extends 'layout/layout.twig' %}

{% block content %}

	<form id="queryBox">
		<input id="query" type="text" name="query" placeholder="Search" /><button type="submit" onclick='mapHack.search(); return false;'>GO</button>
	</form>

    <div id="div_spinner">
        <img src="/img/ajax-loader.gif" alt="" />
    </div>

	<ul id="resultsBox">

	</ul>

	<div id="errorMessage"></div>

	<div id="mapBox"></div>

	<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
	<script type="text/javascript" src="/js/MapHack.js"></script>
	<script type="text/javascript" src="/js/MapHackModule.js"></script>
	<script type="text/javascript" src="/js/MapHackUi.js"></script>
	<script type="text/javascript" src="/js/history.js"></script>
	<script type="text/javascript">

		var mapHackModules = [
			new MapHackModule({
				name: 'Flickr',
				icon: 'flickr_30.jpg'
			})
		]

		var mapHack = new MapHack({
			mapName: "mapBox",
			queryName: "query",
			modules: mapHackModules
		});
		mapHack.createMap();

		var mapHackUi = new MapHackUi({
			mapName: 'mapBox',
			queryName: 'queryBox',
			resultsName: 'resultsBox',
			mapHack: mapHack
		});

		mapHackUi.setModules();

        $(document).ready(function () {
            $('#div_spinner').hide();

            $.ajaxSetup({
                error:function (xhr) {
                    alert('Sorry, there was problem, please reload the page.');
                }
            });

            $(document).ajaxStart(function() {
                $('#div_spinner').show();
            });

            $(document).ajaxStop(function() {
                $('#div_spinner').hide();
            });
        });

		mapHack.setConfig({
			mapHackUi: mapHackUi
		})

	</script>


{% endblock content %}